<ion-header style="height: 70px;">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">Lecture Schedule</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 25px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <div>
        <button ion-button style="width: 100px;
                      height: 45px;
                      background-color: white;">

          <!-- Notification Bell Icon -->
          <div style="height: 42px;
                      width: 42px;
                      border-radius: 5px;
                      position: absolute;
                      top: 3px;
                      left: 10px;"> 
            <ion-icon name="notifications-outline" style="font-size: 35px;
                                                          position: absolute;
                                                          top: 5px;
                                                          left: 0px;"></ion-icon>
          </div>

          <!-- Unread Notifications Count -->
          <div style="position: absolute;
                      top: 5px;
                      left: 40px;">
            <ion-label style="color: red;">
              10
            </ion-label>
          </div>

          <!-- Arrow Icon -->
          <div style="position: absolute;
                      top: 13px;
                      left: 70px;
                      font-size: 26px;">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          
        </button>
      </div>
    </div>

    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Today's Lectures
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <table class="table">
              <thead>
                <tr>
                  <th>Module Code</th>
                  <th>Module Title</th>
                  <th>Session Start Time</th>
                  <th>Session End Time</th>
                  <th>Session Status</th>
                  <th>Activity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PUSL2003</td>
                  <td>Integrating Project</td>
                  <td>9:00 AM</td>
                  <td>12:00 PM</td>
                  <td>Pending Verification</td>
                  <td>
                    <ion-button>
                      Verify
                    </ion-button>
                  </td>
                </tr>
              </tbody>
            </table>


          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-lg="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              New Lecture Series
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Program
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Program" style="min-width: 100%;">
                      <ion-select-option value="BSc">BSc</ion-select-option>
                      <ion-select-option value="Computing">Foundation</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Batch
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Batch" style="min-width: 100%;">
                      <ion-select-option value="18.1">18.1</ion-select-option>
                      <ion-select-option value="18.2">18.2</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Module
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Module" style="min-width: 100%;">
                      <ion-select-option value="SOFT25SL">SOFT255SL</ion-select-option>
                      <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Enrollment KEY
                  </ion-label>
                  <ion-button style="position: relative;
                                    left: 100px;">
                    Generate
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input type="text" value="KEY"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-checkbox checked="true"></ion-checkbox>
                  <p style="position: absolute;
                            top: 5px;
                            left: 30px;">Send Email to Batch Students (Outlook)</p>
                </ion-col>

              </ion-row>

              <ion-button expand="block">
                ADD
              </ion-button>
              
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Weeks Lectures
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="max-width: 50%;">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Created Lecture Series
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                
                <ion-col>
                  <ion-label>
                    Program
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Program" style="min-width: 100%;">
                      <ion-select-option value="BSc">BSc</ion-select-option>
                      <ion-select-option value="Computing">Foundation</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Batch
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Batch" style="min-width: 100%;">
                      <ion-select-option value="18.1">18.1</ion-select-option>
                      <ion-select-option value="18.2">18.2</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Module
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Module" style="min-width: 100%;">
                      <ion-select-option value="SOFT25SL">SOFT255SL</ion-select-option>
                      <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

              </ion-row>
            </ion-grid>

            <ion-button expand="block">
              Search
            </ion-button>


          </ion-card-content>
        </ion-card>
      
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
