<ion-header style="height: 6%;">
  <ion-toolbar>


    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-title style="position: absolute;
                      top: 40%;">News</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 25px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <div>
        <button ion-button style="width: 100px;
                  height: 45px;
                  background-color: white;">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;
                  border-radius: 5px;
                  position: absolute;
                  top: 3px;
                  left: 10px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
      </div>

      <!-- Unread Notifications Count -->
      <div style="position: absolute;
                top: 5px;
                left: 40px;">
        <ion-label style="color: red;">
          10
        </ion-label>
      </div>

        <!-- Arrow Icon -->
      <div style="position: absolute;
                  top: 13px;
                  left: 70px;
                  font-size: 26px;">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>

      </button>
    </div>
  </div>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
      
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Published News
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item style="border: #ccc solid 1px;">
              <ion-label>Select Date</ion-label>
              <ion-datetime value="2020-03-09" placeholder="Select Date"></ion-datetime>
            </ion-item>      

            <div style="overflow-y: scroll;
                        height: 500px;">

              <ion-grid>

                <ion-row>
                  <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

                    <ion-card>
                      <img src="../../../assets/images/account/news/sample.png" style="height: 120px;
                                                                                      position: relative;
                                                                                      left: 50%;
                                                                                      transform: translateX(-50%);" />
                      <ion-card-header>
                        <ion-card-title>
                          Sports Meet Success
                        </ion-card-title>
                        <ion-card-subtitle>
                          Yestaday the sports meet was held with a wonderful awards ceremony.
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        Publication Date Time: 01/03/2020 09:15am
                        Author: Program Office: School of Computing
                      </ion-card-content>
                    </ion-card>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

                    <ion-card>
                      <img src="../../../assets/images/account/news/sample.png" style="height: 120px;
                                                                                      position: relative;
                                                                                      left: 50%;
                                                                                      transform: translateX(-50%);" />
                      <ion-card-header>
                        <ion-card-title>
                          Sports Meet Success
                        </ion-card-title>
                        <ion-card-subtitle>
                          Yestaday the sports meet was held with a wonderful awards ceremony.
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        Publication Date Time: 01/03/2020 09:15am
                        Author: Program Office: School of Computing
                      </ion-card-content>
                    </ion-card>


                  </ion-col>
                  <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

                    <ion-card>
                      <img src="../../../assets/images/account/news/sample.png" style="height: 120px;
                                                                                      position: relative;
                                                                                      left: 50%;
                                                                                      transform: translateX(-50%);" />
                      <ion-card-header>
                        <ion-card-title>
                          Sports Meet Success
                        </ion-card-title>
                        <ion-card-subtitle>
                          Yestaday the sports meet was held with a wonderful awards ceremony.
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        Publication Date Time: 01/03/2020 09:15am
                        Author: Program Office: School of Computing
                      </ion-card-content>
                    </ion-card>


                  </ion-col>
                </ion-row>

              </ion-grid>

            </div>





          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col style="max-width: 50%;">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Publish News
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-label>
                    Title
                  </ion-label>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-item>
                    <ion-input type="text" clearInput></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-label>
                    Description
                  </ion-label>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-item>
                    <ion-textarea clearInput></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-label>
                    Cover Image
                  </ion-label>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-item>
                    Add Image
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-checkbox checked="true"></ion-checkbox>
                  <p style="position: absolute;
                            top: 5px;
                            left: 30px;">
                    Send Email to Subscribed Members (Outlook)
                  </p>
                </ion-col>
                
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button style="position: relative;
                                    left: 50%;
                                    transform: translateX(-50%);" expand="block">
                    Add
                  </ion-button>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>


  </ion-grid>







</ion-content>
