<ion-header style="height: 70px;">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">Semester Calendar</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 25px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <div>
        <button ion-button style="width: 100px;
                      height: 45px;
                      background-color: white;">

          <!-- Notification Bell Icon -->
          <div style="height: 42px;
                      width: 42px;
                      border-radius: 5px;
                      position: absolute;
                      top: 3px;
                      left: 10px;"> 
            <ion-icon name="notifications-outline" style="font-size: 35px;
                                                          position: absolute;
                                                          top: 5px;
                                                          left: 0px;"></ion-icon>
          </div>

          <!-- Unread Notifications Count -->
          <div style="position: absolute;
                      top: 5px;
                      left: 40px;">
            <ion-label style="color: red;">
              10
            </ion-label>
          </div>

          <!-- Arrow Icon -->
          <div style="position: absolute;
                      top: 13px;
                      left: 70px;
                      font-size: 26px;">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          
        </button>
      </div>
    </div>

    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Assigned Semester Calendars
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>



          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Create New Semeter Calendar
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>

              <ion-row>
                <ion-col size="12" size-sm="12" size-lg="6">
                  
                  <ion-card>
                    <ion-card-content>
                      
                      <p style="font-size: 20px;">
                        <b>Semester Information</b>
                      </p>

                      <ion-grid>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Batch
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-input type="text" clearInput></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Degree Program
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-select placeholder="Module" style="min-width: 100%;">
                                <ion-select-option value="SOFT25SL">SOFT25SL</ion-select-option>
                                <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Acadamic Year
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <div style="border: #ccc solid 1px;
                                        border-radius: 5px;">
                              <ion-row>
                                <ion-select placeholder="Year" style="min-width: 95%;">
                                  <ion-select-option value="2019">2019</ion-select-option>
                                  <ion-select-option value="2018">2018</ion-select-option>
                                </ion-select>
                              </ion-row>
                              <ion-row>
                                <ion-select placeholder="Semester" style="min-width: 95%;">
                                  <ion-select-option value="Semester 1">Semester 1</ion-select-option>
                                  <ion-select-option value="Semester 2">Semester 2</ion-select-option>
                                </ion-select>
                              </ion-row>
                            </div>
                          </ion-col>
                        </ion-row>
                        
                      </ion-grid>


                      <p style="font-size: 20px;">
                        <b>Lecture Information</b>
                      </p>

                      <ion-grid>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Module
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-select placeholder="Module" style="min-width: 100%;">
                                <ion-select-option value="SOFT25SL">SOFT25SL</ion-select-option>
                                <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      

                      <br>

                      <p style="font-size: 15px;">
                        <b>Get Each Session Manually</b>
                      </p>

                      <ion-grid>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Date
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-datetime value="2020-03-02"></ion-datetime>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Session Start Time
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="09:00"></ion-datetime>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Session End Time
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="12:00"></ion-datetime>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Label
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">

                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #2874A6;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #148F77;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #F1C40F;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #D35400;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #839192;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #25D591;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #7B241C;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>

                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <!-- Horizontal line -->
                      <div style="border-bottom: #ccc solid 2px;
                                  width: 100%;
                                  margin-top: 10px;
                                  margin-bottom: 10px;">
                      </div>

                      <p style="font-size: 15px;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);">
                        OR
                      </p>

                      <p style="font-size: 15px;
                                margin-top: 40px;">
                        <b>Get Sample Session On Same Day of the Week</b>
                      </p>

                      <ion-grid>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Day
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-select placeholder="Select Day" style="min-width: 100%;">
                                <ion-select-option value="Monday">Monday</ion-select-option>
                                <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                                <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                                <ion-select-option value="Thursday">Thrusday</ion-select-option>
                                <ion-select-option value="Friday">Friday</ion-select-option>
                                <ion-select-option value="Saturday">Saturday</ion-select-option>
                                <ion-select-option value="Sunday">Sunday</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Session Start Time
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="09:00"></ion-datetime>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Session End Time
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-item>
                              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="12:00"></ion-datetime>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" size-sm="12" size-lg="6">
                            <ion-label>
                              Label
                            </ion-label>
                          </ion-col>
                          <ion-col size="12" size-sm="12" size-lg="6">

                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #2874A6;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #148F77;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #F1C40F;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #D35400;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #839192;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #25D591;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>
                            <button ion-button style="border-radius: 200px;
                                                      background-color: white;">
                              <ion-avatar style="background-color: #7B241C;
                                                width: 35px;
                                                height: 35px;">
                              </ion-avatar>
                            </button>


                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                      <!-- Horizontal line -->
                      <div style="border-bottom: #ccc solid 2px;
                                  width: 100%;
                                  margin-top: 10px;
                                  margin-bottom: 20px;">
                      </div>

                      <ion-button expand="block" type="submit">
                        Add Session
                      </ion-button>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
                <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
                  
                  <ion-card>
                    <ion-card-content>
                      Active Calendar
                    </ion-card-content>
                  </ion-card>

                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
